@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
/* Document
 * * ========================================================================== */
/**
 * * Add border box sizing in all browsers (opinionated).
 * */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * * 1. Add text decoration inheritance in all browsers (opinionated).
 * * 2. Add vertical alignment inheritance in all browsers (opinionated).
 * */
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/**
 * * 1. Use the default cursor in all browsers (opinionated).
 * * 2. Change the line height in all browsers (opinionated).
 * * 3. Use a 4-space tab width in all browsers (opinionated).
 * * 4. Remove the grey highlight on links in iOS (opinionated).
 * * 5. Prevent adjustments of font size after orientation changes in
 * *    IE on Windows Phone and in iOS.
 * * 6. Breaks words to prevent overflow in all browsers (opinionated).
 * */
html {
  -moz-tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  word-break: break-word;
  cursor: default;
  -o-tab-size: 4;
     tab-size: 4;
}

/* Sections
 * * ========================================================================== */
/**
 * * Remove the margin in all browsers (opinionated).
 * */
body {
  margin: 0;
}

/**
 * * Correct the font size and margin on `h1` elements within `section` and
 * * `article` contexts in Chrome, Edge, Firefox, and Safari.
 * */
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

/* Grouping content
 * * ========================================================================== */
/**
 * * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 * */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * * Remove the margin on nested lists in Edge 18- and IE.
 * */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * * 1. Add the correct sizing in Firefox.
 * * 2. Show the overflow in Edge 18- and IE.
 * */
hr {
  height: 0;
  overflow: visible;
}

/**
 * * Add the correct display in IE.
 * */
main {
  display: block;
}

/**
 * * Remove the list style on navigation lists in all browsers (opinionated).
 * */
nav ol,
nav ul {
  padding: 0;
  list-style: none;
}

/**
 * * 1. Correct the inheritance and scaling of font size in all browsers.
 * * 2. Correct the odd `em` font sizing in all browsers.
 * */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
 * * ========================================================================== */
/**
 * * Remove the gray background on active links in IE 10.
 * */
a {
  background-color: transparent;
}

/**
 * * Add the correct text decoration in Edge 18-, IE, and Safari.
 * */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * * Add the correct font weight in Chrome, Edge, and Safari.
 * */
b,
strong {
  font-weight: bolder;
}

/**
 * * 1. Correct the inheritance and scaling of font size in all browsers.
 * * 2. Correct the odd `em` font sizing in all browsers.
 * */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * * Add the correct font size in all browsers.
 * */
small {
  font-size: 80%;
}

/* Embedded content
 * * ========================================================================== */
/* * Change the alignment on media elements in all browsers (opinionated).
 * */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * * Add the correct display in IE 9-.
 * */
audio,
video {
  display: inline-block;
}

/**
 * * Add the correct display in iOS 4-7.
 * */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * * Remove the border on iframes in all browsers (opinionated).
 * */
iframe {
  border-style: none;
}

/**
 * * Remove the border on images within links in IE 10-.
 * */
img {
  border-style: none;
}

/**
 * * Change the fill color to match the text color in all browsers (opinionated).
 * */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * * Hide the overflow in IE.
 * */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * * ========================================================================== */
/**
 * * Collapse border spacing in all browsers (opinionated).
 * */
table {
  border-collapse: collapse;
}

/* Forms
 * * ========================================================================== */
/**
 * * Remove the margin on controls in Safari.
 * */
button,
input,
select {
  margin: 0;
}

/**
 * * 1. Show the overflow in IE.
 * * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 * */
button {
  overflow: visible;
  text-transform: none;
}

/**
 * * Correct the inability to style buttons in iOS and Safari.
 * */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * * 1. Change the inconsistent appearance in all browsers (opinionated).
 * * 2. Correct the padding in Firefox.
 * */
fieldset {
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid #a0a0a0;
}

/**
 * * Show the overflow in Edge 18- and IE.
 * */
input {
  overflow: visible;
}

/**
 * * 1. Correct the text wrapping in Edge 18- and IE.
 * * 2. Correct the color inheritance from `fieldset` elements in IE.
 * */
legend {
  display: table;
  max-width: 100%;
  color: inherit;
  white-space: normal;
}

/**
 * * 1. Add the correct display in Edge 18- and IE.
 * * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 * */
progress {
  display: inline-block;
  vertical-align: baseline;
}

/**
 * * Remove the inheritance of text transform in Firefox.
 * */
select {
  text-transform: none;
}

/**
 * * 1. Remove the margin in Firefox and Safari.
 * * 2. Remove the default vertical scrollbar in IE.
 * * 3. Change the resize direction in all browsers (opinionated).
 * */
textarea {
  margin: 0;
  overflow: auto;
  resize: vertical;
}

/**
 * * Remove the padding in IE 10-.
 * */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
 * * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * * 2. Correct the outline style in Safari.
 * */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * * Correct the cursor style of increment and decrement buttons in Safari.
 * */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * * Correct the text style of placeholders in Chrome, Edge, and Safari.
 * */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 * */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * * 1. Correct the inability to style upload buttons in iOS and Safari.
 * * 2. Change font properties to `inherit` in Safari.
 * */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/**
 * * Remove the inner border and padding of focus outlines in Firefox.
 * */
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
 * * Restore the focus outline styles unset by the previous rule in Firefox.
 * */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * * Remove the additional :invalid styles in Firefox.
 * */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * * ========================================================================== */
/* * Add the correct display in Edge 18- and IE.
 * */
details {
  display: block;
}

/* * Add the correct styles in Edge 18-, IE, and Safari.
 * */
dialog {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  padding: 1em;
  border: solid;
  background-color: white;
  color: black;
}

dialog:not([open]) {
  display: none;
}

/* * Add the correct display in all browsers.
 * */
summary {
  display: list-item;
}

/* Scripting
 * * ========================================================================== */
/**
 * * Add the correct display in IE 9-.
 * */
canvas {
  display: inline-block;
}

/**
 * * Add the correct display in IE.
 * */
template {
  display: none;
}

/* User interaction
 * * ========================================================================== */
/* * 1. Remove the tapping delay in IE 10.
 * * 2. Remove the tapping delay on clickable elements
 *    in all browsers (opinionated).
 * */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/**
 * * Add the correct display in IE 10-.
 * */
[hidden] {
  display: none;
}

/* Accessibility
 * * ========================================================================== */
/**
 * * Change the cursor on busy elements in all browsers (opinionated).
 * */
[aria-busy=true] {
  cursor: progress;
}

/* * Change the cursor on control elements in all browsers (opinionated).
 * */
[aria-controls] {
  cursor: pointer;
}

/* * Change the cursor on disabled, not-editable, or otherwise
 * * inoperable elements in all browsers (opinionated).
 * */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/* * Change the display on visually hidden accessible elements
 * * in all browsers (opinionated).
 * */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

/*アニメーション*/
@keyframes slideIn {
  0% {
    left: 25%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideIn {
  0% {
    left: 25%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes fadeUpAnime {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeUpAnime {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes popUp {
  0% {
    top: 70%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
@-webkit-keyframes popUp {
  0% {
    top: 70%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/* リキッドレイアウト対応 */
html {
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media (min-width: 1140px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media (max-width: 750px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (max-width: 750px) {
  a:hover {
    opacity: 0.8;
  }
}

body {
  display: none;
  position: relative;
  overflow-x: hidden;
}

/* セクション */
@media (max-width: 750px) {
  .section {
    padding: 0 4.1875rem;
  }
}

.section-title {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 750px) {
  .section-title {
    font-size: 1.5rem;
  }
}

/* スペーシングクラス */
.mt-1 {
  margin-top: 0.5rem !important;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}

.mr-1 {
  margin-right: 0.5rem !important;
}

.pt-1 {
  margin-top: 0.5rem !important;
}

.pb-1 {
  margin-bottom: 0.5rem !important;
}

.pl-1 {
  margin-left: 0.5rem !important;
}

.pr-1 {
  margin-right: 0.5rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.ml-2 {
  margin-left: 1rem !important;
}

.mr-2 {
  margin-right: 1rem !important;
}

.pt-2 {
  margin-top: 1rem !important;
}

.pb-2 {
  margin-bottom: 1rem !important;
}

.pl-2 {
  margin-left: 1rem !important;
}

.pr-2 {
  margin-right: 1rem !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}

.mb-3 {
  margin-bottom: 1.5rem !important;
}

.ml-3 {
  margin-left: 1.5rem !important;
}

.mr-3 {
  margin-right: 1.5rem !important;
}

.pt-3 {
  margin-top: 1.5rem !important;
}

.pb-3 {
  margin-bottom: 1.5rem !important;
}

.pl-3 {
  margin-left: 1.5rem !important;
}

.pr-3 {
  margin-right: 1.5rem !important;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.ml-4 {
  margin-left: 2rem !important;
}

.mr-4 {
  margin-right: 2rem !important;
}

.pt-4 {
  margin-top: 2rem !important;
}

.pb-4 {
  margin-bottom: 2rem !important;
}

.pl-4 {
  margin-left: 2rem !important;
}

.pr-4 {
  margin-right: 2rem !important;
}

.mt-5 {
  margin-top: 2.5rem !important;
}

.mb-5 {
  margin-bottom: 2.5rem !important;
}

.ml-5 {
  margin-left: 2.5rem !important;
}

.mr-5 {
  margin-right: 2.5rem !important;
}

.pt-5 {
  margin-top: 2.5rem !important;
}

.pb-5 {
  margin-bottom: 2.5rem !important;
}

.pl-5 {
  margin-left: 2.5rem !important;
}

.pr-5 {
  margin-right: 2.5rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.img-fluid {
  width: 100%;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

@media (max-width: 750px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }
}
@media screen and (min-width: 993px) {
  .hidden-pc {
    display: none;
  }
}

@media screen and (min-width: 750px) and (max-width: 992px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 749px) {
  .hidden-sp {
    display: none;
  }
}

/* ユーティリティクラス */
.container {
  max-width: 1080px;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .container {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}

.container--wide {
  max-width: 1280px;
  margin: 0 auto;
}

.container--narrow {
  max-width: 880px;
  margin: 0 auto;
}

/* サイトタイトル */
.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  padding-left: 0px;
  color: #000;
  font-size: 1.375rem;
  text-align: center;
}
@media (max-width: 650px) {
  .site {
    width: 100%;
    padding-left: 0;
  }
}

.site div {
  text-align: left;
}

.site__logo {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
.site__logo img {
  width: 100%;
}

.site__title {
  font-size: 20px;
  font-weight: bold;
}

.site__desc {
  color: #707F89;
  font-size: 12px;
}

/* ヘッダーナビ */
.gnavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (max-width: 750px) {
  .gnavi {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
@media (max-width: 750px) {
  .menu-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
  }
}

.menu-item {
  padding: 0.5em 1em;
}
@media (max-width: 750px) {
  .menu-item .menu-item {
    margin-bottom: 1.875rem;
    font-size: 16px;
    font-weight: bold;
  }
}

/* ボタン */
.btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  border: 2px solid transparent;
  background-color: #e25c00;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.btn:hover, .btn:focus {
  border-color: currentColor;
  background-color: #fff;
  color: #e25c00;
}

.btn--arrowRight {
  position: relative;
  padding-right: 2em;
  padding-left: 1.38em;
}
.btn--arrowRight:after {
  position: absolute;
  top: 50%;
  right: 0.83em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Font Awesome";
  font-weight: 900;
  content: "➡";
}

.btn--warning {
  background-color: #00f178;
  color: #222;
}
.btn--warning:hover, .btn--warning:focus {
  border-color: currentColor;
  background-color: #fff;
  color: #00f178;
}

.roundedBtn {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 2px solid #eaa00a;
  border-radius: 30px;
  background-color: #ffffff;
  color: #eaa00a;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.roundedBtn:hover, .roundedBtn:focus {
  border-color: currentColor;
  background-color: #fff;
  color: #eaa00a;
}

/* カード */
.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.card__img {
  width: 100%;
  text-align: center;
}

.card__img img {
  max-width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.card__body {
  padding: 16px 12px;
}

.card__time {
  display: inline-block;
  font-size: 13px;
}

.card__title {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 700;
}

.card__excerpt {
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.6;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__item {
  width: calc(33.3% - 10.6666666667px);
  margin-top: 16px;
  margin-right: 16px;
}

.cards__item:nth-child(-n+3) {
  margin-top: 0;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

/* 見出し */
.heading {
  border-radius: 10px;
}

/* SNS */
.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 750px) {
  .sns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sns-item {
  padding: 0.5em 1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sns-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sns-item.twitter {
  padding: 0.8em 1em;
}

/* ハンバーガーメニュー */
.nav-button {
  display: none;
}
@media (max-width: 750px) {
  .nav-button {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    display: block;
    z-index: 100;
    position: relative;
    width: 25px;
    height: 14px;
    border: none;
    outline: none;
    background: none;
    color: #eaa00a;
    cursor: pointer;
  }
  .nav-button::before, .nav-button::after {
    display: block;
    height: 2px;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    background-color: currentColor;
    content: "";
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav-button::before {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-box-shadow: 0 7px currentColor;
            box-shadow: 0 7px currentColor;
  }
}

.header {
  padding: 10px 0;
}
@media (max-width: 750px) {
  .header .site .site__logo {
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }
  .header .site .site__title {
    font-size: 20px;
    font-weight: bold;
  }
  .header .site .site__desc {
    color: #707F89;
    font-size: 14px;
  }
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 750px) {
  .header .container {
    width: 100%;
  }
}
.header .gnavi {
  font-weight: bold;
}
.header .gnavi .roundedBtn {
  min-width: 148px;
  padding: 0.375rem 0.9375rem;
  border: 1px solid #cdd6dd;
}
@media (max-width: 750px) {
  .header .gnavi .roundedBtn {
    min-width: 208px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
  }
}
.header .menu-item:not(:last-child):after {
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background-color: #eaa00a;
  content: "";
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .menu-item:not(:last-child):hover:after {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.is-open .gnavi {
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.is-open .nav-button {
  color: #ffffff;
}
.is-open .nav-button::before {
  -webkit-transform: translateY(2px) rotateZ(45deg);
          transform: translateY(2px) rotateZ(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.is-open .nav-button::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* フッター */
.footer {
  height: 340px;
  margin-top: -50px;
  padding-top: 6.25rem;
  background-color: #eaa00a;
  color: #ffffff;
}
.footer .site {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer .site__logo {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.footer .site__title {
  margin: 1.25rem 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 750px) {
  .footer .site__title {
    margin: 0.625rem 0;
    font-size: 20px;
  }
}
.footer .site__desc {
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 95%;
    padding: 0 1.875rem;
  }
}

.footer-logo {
  color: black;
}

/**
 * * コンポーネント
 * * サイト内で使い回すパーツのスタイル
 * **/
/* メインビジュアル */
.hero {
  position: relative;
  height: 600px;
  margin: 0 auto;
  background-image: url("../img/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .catch {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  color: #eaa00a;
  text-align: center;
}
.hero .catch .sub-text {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}
.hero .catch .main-text {
  font-size: 2.75rem;
  font-weight: bold;
}
@media (max-width: 750px) {
  .hero .catch .main-text {
    font-size: 2.1875rem;
  }
}

/* リード */
.lead {
  padding: 5rem 0;
  background-color: #eaa00a;
  color: #ffffff;
}
.lead .section-title {
  margin-bottom: 2.375rem;
}
.lead .container {
  max-width: 640px;
}

/* サービス */
.service {
  padding: 5.9375rem 0.1875rem;
  text-align: center;
}
.service .container {
  max-width: 1160px;
}
.service .section-title {
  display: inline-block;
  margin: 0 auto;
  border-bottom: 1px dotted #eaa00a;
  color: #eaa00a;
}
.service .section-subTitle {
  margin-bottom: 4.6875rem;
  color: #eaa00a;
}
@media (max-width: 750px) {
  .service .section-subTitle {
    margin-bottom: 3.3125rem;
  }
}
.service .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(33.3333333333% - 26.6666666667px);
  margin-top: 16px;
  margin-right: 40px;
  border: none;
}
.service .card:last-of-type {
  margin-right: 0;
}
@media (max-width: 750px) {
  .service .card {
    width: 100%;
    margin-right: auto !important;
    margin-left: auto;
  }
}
.service .card__img {
  height: 18.75rem;
  background-position: center;
  background-size: cover;
}
.service .card__img.office {
  background-image: url("../img/office.jpg");
}
.service .card__img.management {
  background-image: url("../img/manage.jpg");
}
.service .card__img.research {
  background-image: url("../img/research.jpg");
}
@media (max-width: 992px) {
  .service .card__img {
    height: 25vw;
  }
}
@media (max-width: 750px) {
  .service .card__img {
    height: 15.375rem;
  }
}
.service .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}
.service .card__body .card-title {
  margin: 1.625rem 0;
  font-size: 1.875rem;
  font-weight: bold;
}
@media (max-width: 750px) {
  .service .card__body .card-title {
    font-size: 1.25rem;
  }
}
.service .card__body .card-text {
  margin-bottom: 1.5625rem;
}
.service .card__btn {
  display: block;
  margin-top: auto;
  text-transform: uppercase;
}

/* お問い合わせフォーム */
.contact {
  z-index: 2;
  position: relative;
}
.contact .container {
  max-width: 1240px;
}
@media (max-width: 750px) {
  .contact .container {
    padding-right: 0;
    padding-left: 0;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1240px;
  margin: 0 auto;
  padding: 5.625rem;
  background-color: #f8f2ee;
}
@media (max-width: 992px) {
  .contact-form {
    padding: 5.625rem 2.8125rem;
  }
}
@media (max-width: 750px) {
  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5.625rem 1.875rem;
  }
}
.contact-form div {
  width: 50%;
  margin-bottom: 1.25rem;
}
@media (max-width: 750px) {
  .contact-form div {
    width: 100%;
  }
}
.contact-form .title {
  margin-bottom: 1.875rem;
  font-size: 2.25rem;
  font-weight: bold;
}
.contact-form .form-desc {
  margin-right: 1.875rem;
}
.contact-form .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-form .roundedBtn {
  max-width: 272px;
  background-color: #eaa00a;
  color: #ffffff;
}
.contact-form .roundedBtn:hover {
  border-color: #eaa00a;
  background-color: #ffffff;
  color: #eaa00a;
}
@media (max-width: 750px) {
  .contact-form .roundedBtn {
    max-width: 100%;
  }
}

.form-group input, .form-group textarea {
  width: 100%;
  margin-bottom: 1.0625rem;
  padding: 10px;
  border: 1px solid #CDD6DD;
  background-color: #fff;
}

/* 各ページ固有のスタイル */
/*# sourceMappingURL=style.css.map */